/* Fonts */

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: San Francisco, sans-serif;
}

h1, h2, h3, h4 {
  font-family: San Francisco, sans-serif; 
  font-weight: 200;
}

/* Sizes */
h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
p, ul{
  font-size: 20px;
}
.divider {
  color: white;
  border: none;
  margin: none;
  padding: 8px;
  background-color: black;
}

/* Colors */
:root {
  --primary-color: #2D358B;
  --secondary-color: #D98F17;
  --text-color: #000;
  --text-color2: #333;
  --alnleft-bg: #5D7487;
  --alnright-bg: #F4ECD6;
}

body {
  color: var(--text-color);
  background-color: white;
}

header, footer{
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

.main_point, .main_point_alt {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2%;
  margin-top: 0;
  margin-bottom: 0;
}

.main_point_text {
  padding-right: 2%;
  padding-left: 2%;
}

.main_point_alt {
  background-color: #FFCF67;
  color: var(--text-color);
  padding: .5%;
}

/* Layout */
header, nav, footer {
  padding: 20px;
}

footer{
  max-height: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Links */
a {
  color: var(--secondary-color);
}

/* Buttons */  
button, .button {
  background-color: var(--secondary-color);
  color: black;
  width: 100%;
  padding: 2%;
  border: none;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

/* Other */
.section_alnleft {
  padding: 8%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--alnleft-bg);
  color: var(--text-color);
  text-align: left;
}

.sect_head_alnleft {
  text-align: left;
}

.text_alnleft_rightbox, .text_alnright_leftbox {
  width: 40%;
  font-size: 24px;
}

.alnleft_rightbox {
  display: flex;
  justify-content: right;
  align-items: center;
}

.section_alnright {
  padding: 8%;
  text-align: right;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: var(--alnright-bg);
}

.alnright_leftbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.sect_head_alnright {
  text-align: right;
}

.half_split_sect, .third_split_sect {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  text-align: center;
  background-color: lightgray;
}

.third_split_sect {
  grid-template-columns: 33% 33% 33%;
}

#company_logo {
  max-height: 35px;
}

.navbar_link {
  margin-right: 10px;
  color: black;
  font-size: 18px;
}

#logo {
  max-height: 35px;
  margin-right: 20px;
}

#screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}

#logofooter {
  vertical-align: middle;
  max-height: 25px;
  margin-right: 15px;
}

.aligned { 
    display: flex;
    align-items:center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px 40px 0px 40px;
}

.grid-element{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    max-width: 310px;
}

#img-grid{
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: none;
}

